
/*custom google font*/
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/* entire page defaults */
:root {
   --dark: rgb(52, 48, 54);
   --light: rgb(220, 171, 243);
   --btn: rgb(178, 114, 207);
   background-color: var(--dark);
    box-sizing: border-box;
   font-family: 'Play', sans-serif;
   
}

h1 {
    padding-top: 5rem;
text-align: center;
margin-top: 9rem;
top:0;
color: var(--light);
font-size: 4rem;
}

body {
   padding: 0;
   margin: 0;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

#quiz {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px 2px var(--light);
}

#timer {
    font-size: 2rem;
    color: var(--light);
}
#score {
    color: var(--light);
    text-align: right;
    font-size: 1.5rem;
}
#questions {
    font-size: 1.75rem;
}
/* button styling */
.btn  {
    font-family: 'Play', sans-serif;
    font-size: 1.76rem;
    color: white;
    background-color: var(--btn);
    display: grid;
    margin: 20px 0;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn:hover , #startbtn:hover, #submitbtn:hover {
    background-color: var(--light) ;
}

.start-btn:active, .submitb:active {
    background-color: purple;
}
/*if button is correct answer*/
.correct {
    font-family: 'Play', sans-serif;
    font-size: 1.76rem;
    color: rgb(30, 100, 30);
    display: grid;
    margin: 20px 0;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(159, 223, 159);
}
 
.selected {
    outline: none;
    box-shadow: 0 0 10px purple;
}


/* if button is wrong answer*/
.wrong  {
    font-family: 'Play', sans-serif;
    font-size: 1.76rem;
    color: rgb(153, 37, 37);
    display: grid;
    margin: 20px 0;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
 background-color: lightcoral;
}

.controls {
    display: flex;
    justify-content: center ;
    align-items: center;
    text-align: center;
}


#startbtn {
    font-family: 'Play', sans-serif;
    color: white;
    background-color: var(--btn);
    margin: 20px 0;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 3rem; 
    margin-left: 16rem;
}
/*end page CSS*/

h2 {
    color: var(--light);
    font-size: 1.75rem;
    margin: 0px auto;
    text-align: center;
}

.boldtextcss, #playername {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}
.theend {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px 2px var(--light);
}

#finalscore {
    text-align: center;
    font-size: 1.25rem;

}

#submitbtn {
    border: 0;

    font-family: 'Play', sans-serif;
    color: white;
    background-color: var(--btn);
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem; 
}
/*hide class for javascript */

.hide {
    display: none;
}

   /* small screen compatibility */
@media screen and (max-width: 922px) {
    #startbtn {
       margin: 20px auto;
       display: block;
    }

    #startbtn.hide-small {
        display: none
    }
}

/*footer css */
 
footer {
    color: white;
    margin-top: 5rem;
    text-align: center;
}